.hot_trainer h3{
	color: #333;
  font-weight: 700;
  font-size: 32px;
  padding-top: 8px;
}

/* About Us Section
--------------------------------*/
#about {
  background: #fafafa;
  padding: 80px 0;
  font-family: 'Noto Sans TC', sans-serif; 
}

#about .about-container .background {
  min-height: 320px;
  background: url(../img/about-img.png) center no-repeat;
  margin-bottom: 10px;
}

#about .about-container .content {
  background: #fafafa;
}
#about .h2{
  text-align: center;
  padding:20px 0px;
  font-family: 'Noto Sans TC', sans-serif; 
}
#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
  padding-top: 8px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about p {
  line-height: 26px;
  margin:30px 0px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}
#about .about-container {
  padding-top:30px;
}
#about .about-container .icon-box {
  background: #fafafa;
  background-size: cover;
  padding: 20px 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right:10px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#about .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#about .about-container .icon-box .title {
  margin-left: 60px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Noto Sans TC', sans-serif;    
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  margin-left: 60px;
  margin-top: 0px;
  line-height: 24px;
  font-size: 14px;
}



/* Facts Section
--------------------------------*/
#facts {
  font-family: 'Noto Sans TC', sans-serif; 
/*   background: #fafafa; */	
background: #fff;
  padding: 80px 0 60px 0;
}

#facts .counters span {
  font-size: 48px;
  display: block;
  color: #2dc997;
}

#facts .counters p {
  padding: 20px;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-family: 'Noto Sans TC', sans-serif; 
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  padding-bottom: 40px;
  color: #999;
}
/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
#contact {
  font-family: 'Noto Sans TC', sans-serif; 
/*   background: #fff; */
  background: #fafafa;
  padding: 80px 0 60px 0;
}
#contact h3{
  color: #333;
  font-weight: 700;
  font-size: 32px;
  padding-top: 8px;
}
.contact .infos {
  position: relative;
  z-index: 2;
}

.contact .info {
  padding: 60px;
  background: #fff;
  color: #334240;
  text-align: center;
  box-shadow: -5px -5px 40px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 30px;
  color: #56e7d0;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.contact .info-bg {
  background: white;
}

.contact .contact-form-wrap {
  box-shadow: 10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 30px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  color: #5f7c78;
}

.contact .php-email-form input, .contact .php-email-form textarea, .contact .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus, .contact .php-email-form select::focus {
  background-color: #1bbca3;
}

.contact .php-email-form input{
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

select.form-control {
   padding: 6px 15px;
   height: 42px;
}  
.contact .php-email-form button[type="submit"] {
  background: #1bbca3;
  padding: 12px 26px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #fff;
  border: 2px solid #1bbca3;
  padding: 10px 24px;
  color: #1bbca3;
}

@media (max-width: 1024px) {
  .contact .info {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
